.single-item {
    background-color: white;
    border-radius: 5px;
    color: black;
    transition: .5s;
    border: 10px solid #f9f5f5;
    font-weight: lighter;
}
.single-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .5s;
    border: 1px solid #f9f5f5
}
.item-cart-img {
   max-width: 350px;
   max-height: 250px;
}
.item-cart-img img {
    max-width: 100%;
    max-height: 100%;
}
.my-color {
    color: #bb2d3b;
}